doctype html
html
head
    meta(charset="utf-8")
    title
    meta(name="author" content="")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="css/style.css" rel="stylesheet")
body
    div.monsters-container
        ul.monsters 
            each monster in results
                li.monster
                    a(href="/monsters/" + monster.name)
                        h2 #{monster.name}
    a(href="..") Go Back